<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base-layout}">

	<head>
		<!-- title -->
		<title th:text="${product.name}">Product Detail</title>
	</head>

	<body>
		<!-- breadcrumb-section -->
		<div layout:fragment="breadcrumb" class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							<h1 th:text="${product.name}">PRODUCT</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div layout:fragment="contents">

			<!-- single product -->
			<div th:object="${product}" class="single-product mt-150 mb-150">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="single-product-img">
								<img th:src="*{imageUrl}" alt="...">
							</div>
						</div>
						<div class="col-md-7">
							<div th:with="priceRecord=*{priceRecord}, stockRecord=*{stockRecord}" class="single-product-content">

								<h3 th:text="*{name}">Green apples have polyphenols</h3>

								<p class="single-product-pricing">
									<span th:text="${priceRecord.price}">0 dong</span>
								</p>

								<p><strong>In stock: </strong><span th:text="${stockRecord.amount}"></span></p>

								<p th:text="*{description}">description</p>

								<!-- TODO: do order logic here -->
								<div class="single-product-form">
									<form action="index.html">
										<input type="number" placeholder="0">
									</form>
									<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single product -->

			<!-- TODO: switch to carousel -->
			<!-- more products -->
			<div th:with="category=${product.category}" class="more-products mb-150">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div  class="section-title">	
								<h3><span class="orange-text">Related</span> Products</h3>
								<p th:text="${category.name}">Category</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div th:each="prod : ${category.products}"class="col-lg-4 col-md-6 text-center">
							<div class="single-product-item">
								<div class="product-image">
									<a th:href="@{/product/{productId}/detail(productId=${prod.id})}">
										<img th:src="${prod.imageUrl}" alt="...">
									</a>
								</div>
								<h3 th:text="${prod.name}">Product Name</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end more products -->
		</div>
	</body>
</html>


